<% layout('/layouts/boilerplate') %> <%- include("./includes/hero.ejs") %>
<h2 class="heading">"Pages of the Past, Power of the Present"</h2>
<% if(!isAdmin ){ %>
<a href="/order/cart" class="btn cart-btn"
  ><i class="fa-solid fa-cart-shopping"></i>
  <% if(crnUser && crnUser.order.length) { %>
  <span
    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
  >
    <%= crnUser.order.length %>
    <span class="visually-hidden">Cart Item</span>
  </span>
  <% } %>
</a>
<% } %>
<section id="card-section">
  <div class="card-container">
    <% for(item of allItems){ %>
    <div class="card card-list" style="width: 18rem">
      <img
        src="<%= item.image %>"
        class="card-img-top"
        alt="..."
        style="height: 18rem"
      />
      <div class="card-body">
        <h5 class="card-title"><%= item.item %></h5>
        <p class="card-text">
          <%= item.description %>
          <br />
        </p>
        <p><b> Price : &#8377; <%= item.price %></b></p>
        <div class="button-group d-flex gap-2 mt-2">
          <form action="/order/<%= item._id %>">
            <button class="btn btn-success index-ejs-btn">Buy now</button>
          </form>
          <form action="/items/<%= item._id %>">
            <button class="btn btn-outline-primary index-ejs-btn">Details</button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>
<script src="/js/cars.js"></script>
